<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Gestion Production</h2>
      <h3>Minière</h3>
    </div>
    <img src="assets/ocpl.png" alt="logo ocp">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>
  <ng-container *ngIf="roles != null && (roles.includes('ResponsableVoyages') || roles.includes('ADMIN'))">
    <li class="nav-item">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/Voyage">Les Voyages</a>
    </li>
    <li class="nav-item">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/Camion">les Camions</a>
    </li>
    <li class="nav-item">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/Conducteur">les Conducteurs</a>
    </li>
    <li class="nav-item">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/chartC">la performance des Conducteurs</a>
    </li>

    <li class="nav-item">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/Arret">les Arrêt Camion</a>
    </li>
    <li class="nav-item">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/chartdure">la durée des voyages</a>
    </li>
  </ng-container>
  <ng-container class="nav-item" *ngIf="roles != null && (roles.includes('ResponsablesQualite') || roles.includes('ADMIN'))">
    <li class="nav-item">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Qualite">Qualité</a>
    </li>
    <li class="nav-item">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/chart">graph de qualité</a>
    </li>
    <li class="nav-item">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/chartInter">graphe de Quantité</a>
    </li>
  </ng-container>

  <mat-divider></mat-divider>
</mat-nav-list>
