<h1>User Management</h1>

<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)=" openAddForm()" > Add User </button>
  </div>
</section>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput placeholder="Search" (keyup)="applyFilter($event)">
</mat-form-field>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- User ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>User ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Eamil</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions Menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="handleDeleteButton(element)">
            <mat-icon color="warn">delete</mat-icon>
            <span>Delete</span>
          </button>
          <button mat-menu-item (click)="openEditForm(element)">
            <mat-icon color="primary">edit</mat-icon>
            <span>Edit</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>

  <section>
    <h2>User Roles</h2>
    <ul>
      <li *ngFor="let user of dataSource.data">
        {{ user.username }} - Roles: {{ user.roles.join(', ') }}
      </li>
    </ul>
  </section>


  <mat-paginator
    [length]="dataSource.data.length"
    [pageSize]="10"
    [pageSizeOptions]="[1, 5, 10, 25, 100]"
  ></mat-paginator>
</div>
