<mat-card class="card">
  <h1 class="title">Ajouter un Camion</h1>
  <form (ngSubmit)="onSubmit()" #voyageForm="ngForm">
    <mat-form-field class="form-field">
      <mat-label>marque</mat-label>
      <input matInput name="marque" [(ngModel)]="camion.marque" required>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>modele</mat-label>
      <input matInput  name="modele" [(ngModel)]="camion.modele" required>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Consommation de carburant</mat-label>
      <input matInput name="consommationCarburant" [(ngModel)]="camion.consommationCarburant" required>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>kilometrage</mat-label>
      <input matInput name="kilometrage" [(ngModel)]="camion.kilometrage" required>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>date de Maintenance</mat-label>
      <input matInput [matDatepicker]="arriveeDatePicker" name="dateMaintenance" [(ngModel)]="camion.dateMaintenance" required>
      <mat-datepicker-toggle matSuffix [for]="arriveeDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #arriveeDatePicker></mat-datepicker>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="voyageForm.invalid">Ajouter</button>
      <button mat-raised-button color="warn">Annuler</button>
    </div>
  </form>
</mat-card>
