<!--<div>-->
<!--  <app-widget-area [data]="averageDurationData"></app-widget-area>-->
<!--</div>-->

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">

  <mat-card fxFlex="35">
    <app-widget-card label="Total Voyages" total = "{{ totalVoyages }}" [percentage]=" "></app-widget-card>
  </mat-card>


  <mat-card fxFlex="35">
    <app-widget-card label="Total Conducteur" total = "{{ totalConducteur }}" ></app-widget-card>
  </mat-card>

</div>

<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="35">
    <app-widget-card label="Total Camion" total = "{{ totalCamion }}" ></app-widget-card>
  </mat-card>
  <mat-card fxFlex="35">
    <app-widget-card label="Total arret" total = "{{ totalArret }}" ></app-widget-card>
  </mat-card>
</div>
<mat-divider></mat-divider>




