<h1>Editer Conducteur</h1>
<form *ngIf="updateFormGroup" [formGroup]="updateFormGroup" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutGap="20px">
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput formControlName="nom" placeholder="Nom">
      <mat-error *ngIf="updateFormGroup.get('nom').invalid && updateFormGroup.get('nom').touched">
        Le nom est requis
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="prenom" placeholder="Prénom">
      <mat-error *ngIf="updateFormGroup.get('prenom').invalid && updateFormGroup.get('prenom').touched">
        Le prénom est requis
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date d'embauche</mat-label>
      <input matInput [matDatepicker]="datePicker1" formControlName="dateEm" placeholder="Date d'embauche">
      <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
      <mat-datepicker #datePicker1></mat-datepicker>
      <mat-error *ngIf="updateFormGroup.get('dateEm').invalid && updateFormGroup.get('dateEm').touched">
        La date est requise
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Consommation de carburant</mat-label>
      <input matInput formControlName="consommationCarburant" placeholder="Consommation de carburant">
      <mat-error *ngIf="updateFormGroup.get('consommationCarburant').invalid && updateFormGroup.get('consommationCarburant').touched">
        La consommation de carburant est requise
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Vitesse moyenne</mat-label>
      <input matInput formControlName="vitesseMoyenne" placeholder="Vitesse moyenne">
      <mat-error *ngIf="updateFormGroup.get('vitesseMoyenne').invalid && updateFormGroup.get('vitesseMoyenne').touched">
        La vitesse moyenne parcourue est requise
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!updateFormGroup.valid">Enregistrer</button>
  </div>
</form>
