<h1>Editer Voyage</h1>
<form *ngIf="updateFormGroup" [formGroup]="updateFormGroup" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutGap="20px">
    <mat-form-field>
      <mat-label>Itineraire</mat-label>
      <input matInput formControlName="itineraire" placeholder="Itineraire">
      <mat-error *ngIf="updateFormGroup.get('itineraire').invalid && updateFormGroup.get('itineraire').touched">
        Itineraire is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date Depart</mat-label>
      <input matInput [matDatepicker]="datePicker1" formControlName="dateDepart" placeholder="Date Depart">
      <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
      <mat-datepicker #datePicker1></mat-datepicker>
      <mat-error *ngIf="updateFormGroup.get('dateDepart').invalid && updateFormGroup.get('dateDepart').touched">
        Date Depart is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date Arrivee</mat-label>
      <input matInput [matDatepicker]="datePicker2" formControlName="dateArrivee" placeholder="Date Arrivee">
      <mat-datepicker-toggle matSuffix [for]="datePicker2"></mat-datepicker-toggle>
      <mat-datepicker #datePicker2></mat-datepicker>
      <mat-error *ngIf="updateFormGroup.get('dateArrivee').invalid && updateFormGroup.get('dateArrivee').touched">
        Date Arrivee is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Camions</mat-label>
      <mat-select formControlName="camions" multiple>
        <mat-option *ngFor="let camion of camions" [value]="camion">{{ camion.marque }} {{ camion.modele }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Conducteurs</mat-label>
      <mat-select formControlName="conducteurs" multiple>
        <mat-option *ngFor="let conducteur of conducteurs" [value]="conducteur">{{ conducteur.nom }} {{ conducteur.prenom }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!updateFormGroup.valid">Save</button>
  </div>
</form>
